.app header a,
.app header h1 {
  float: left;
  margin-bottom: 30px;
}

.app header img.agency {
  margin-right: 10px;
}

.app header img.csiro {
  margin-right: 50px;
  position: relative;
  top: 5px;
}

.app header h1 {
  margin: 30px 0 0;
  font-weight: normal;
  font-size: 28px;
}

.app header h1 a {
  text-decoration: none;
  color: black;
}

.app main {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: -8px;
  clear: left;
}
