.fhir-resource {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: -8px;
  clear: left;
}

.fhir-resource .title,
.fhir-resource .url,
.fhir-resource .version,
.fhir-resource .value-set-uri {
  margin: 0 16px 6px;
}

.fhir-resource > .metadata {
  font-size: 14px;
  font-weight: normal;
}

.fhir-resource > .metadata div {
  display: flex;
  align-items: baseline;
}

.fhir-resource > .metadata dt {
  width: 30px;
  font-size: 13px;
}

.fhir-resource > .metadata dd {
  font-family: monospace;
}

.fhir-resource > .metadata .title {
  margin-bottom: 10px;
}

.fhir-resource > .metadata dd a {
  color: black;
  text-decoration: none;
}
.fhir-resource dd a:hover {
  text-decoration: underline;
}

.fhir-resource .version code {
  font-family: monospace;
}

.fhir-resource code {
  font-size: 13px;
  background-color: transparent;
}

.fhir-resource nav {
  border-bottom: 1px solid #ccc;
  margin: 30px 0;
}

.fhir-resource nav ol {
  margin: 0 11px;
  padding: 0;
  display: flex;
}

.fhir-resource nav li,
.fhir-resource nav a {
  border-width: 1px 1px 0;
  border-color: #ccc;
  border-style: solid;
  background: linear-gradient(0deg, #eee, white);
  padding: 8px 12px;
  list-style-type: none;
  margin: 0 3px;
  border-radius: 6px 6px 0 0;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.fhir-resource nav li.active,
.fhir-resource nav li:hover,
.fhir-resource nav a:hover {
  opacity: 1;
}

.fhir-resource nav a {
  text-decoration: none;
  color: black;
}

.fhir-resource nav a:first-of-type {
  margin-left: auto;
}

.fhir-resource nav a:after {
  content: '\000A0\02192';
}

.fhir-resource .tab-content {
  margin: 0 10px 30px;
}

.fhir-resource .tab-content-hidden {
  display: none;
}
